* {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  
  
  .background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%; /* Use viewport height */
    width: 100%;
    display: flex;
    z-index: -10;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(15, 23, 42), rgb(69, 21, 105), rgb(15, 23, 42)); /* Set background color */
  }
  
  .block {
    position: absolute;
    height: 60px;
    width: 60px;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(56, 21, 80), #040d49);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Add this line */
  }